<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rutas en local:</h1>
    <p>localhost:3000/apiv1/anuncios</p>
    <p>localhost:3000/apiv1/anuncios/tags</p>
    <p>localhost:3000/apiv1/usuarios</p>
    <p>localhost:3000/apiv1/usuarios/athenticate</p>

    <h1>Documentación Postman</h1>
    <p>En la sigiente URL se encuentra la documentación para realizar las pruebas con Postman:</p>
    <p>https://documenter.getpostman.com/view/5941716/RzthQrAG</p>
  </body>
</html>
